<div class="py-24">
  <div class="w-full flex justify-center">
    <div class="w-fit">
      <ul class="justify flex border-b border-gray-100">
        <li class="flex-1">
          <a class="relative block p-4" [routerLink]="['/pkl']">
            <span
              *ngIf="router.url == '/pkl'"
              class="absolute inset-x-0 -bottom-px h-px w-full bg-cyan-500"
            ></span>

            <div class="flex items-center justify-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 flex-shrink-0 text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                />
              </svg>

              <span class="text-sm font-medium text-gray-900"> PKL </span>
            </div>
          </a>
        </li>

        <li class="flex-1">
          <a class="relative block p-4" [routerLink]="['/magang']">
            <span
              *ngIf="router.url == '/magang'"
              class="absolute inset-x-0 -bottom-px h-px w-full bg-cyan-500"
            ></span>
            <div class="flex items-center justify-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 flex-shrink-0 text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                />
              </svg>

              <span class="text-sm font-medium text-gray-900"> MAGANG </span>
            </div>
          </a>
        </li>

        <li class="flex-1">
          <a class="relative block p-4" [routerLink]="['/intern']">
            <span
              *ngIf="router.url == '/intern'"
              class="absolute inset-x-0 -bottom-px h-px w-full bg-cyan-500"
            ></span>
            <div class="flex items-center justify-center gap-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 flex-shrink-0 text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
                />
              </svg>

              <span class="text-sm font-medium text-gray-900">
                INTERNSHIP
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div
    *ngIf="router.url == '/peserta'"
    class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4"
  >
    <a
      *ngFor="let profile of profile"
      data-aos="fade-up"
      [routerLink]="['/profil', profile.nik]"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">{{ profile.name }}</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
  </div>

  <div
    *ngIf="router.url == '/pkl'"
    class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4"
  >
    <a
      *ngFor="let profile of profilePKL"
      data-aos="fade-up"
      [routerLink]="['/profil', profile.nik]"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">{{ profile.name }}</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
  </div>

  <div
    *ngIf="router.url == '/magang'"
    class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4"
  >
    <a
      *ngFor="let profile of profileMagang"
      data-aos="fade-up"
      [routerLink]="['/profil', profile.nik]"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">{{ profile.name }}</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
  </div>

  <div
    *ngIf="router.url == '/internship'"
    class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4"
  >
    <a
      *ngFor="let profile of profileInternship"
      data-aos="fade-up"
      [routerLink]="['/profil', profile.nik]"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">{{ profile.name }}</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
