<div  class=" py-24">
  <div>
    <ul class="flex border-b border-gray-100">
      <li class="flex-1">
        <a class="relative block p-4" href="">
          <span
            class="absolute inset-x-0 -bottom-px h-px w-full bg-pink-600"
          ></span>

          <div class="flex items-center justify-center gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
              />
            </svg>

            <span class="text-sm font-medium text-gray-900"> Settings </span>
          </div>
        </a>
      </li>

      <li class="flex-1">
        <a class="relative block p-4" href="">
          <div class="flex items-center justify-center gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
              />
            </svg>

            <span class="text-sm font-medium text-gray-900"> Messages </span>
          </div>
        </a>
      </li>

      <li class="flex-1">
        <a class="relative block p-4" href="">
          <div class="flex items-center justify-center gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
              />
            </svg>

            <span class="text-sm font-medium text-gray-900"> Archive </span>
          </div>
        </a>
      </li>

      <li class="flex-1">
        <a class="relative block p-4" href="">
          <div class="flex items-center justify-center gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
              />
            </svg>

            <span class="text-sm font-medium text-gray-900"> Notifications </span>
          </div>
        </a>
      </li>
    </ul>

  </div>

  <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
    <a *ngFor="let profile of profile"
      data-aos="fade-up"
      [routerLink]="['/profil', profile.nik]"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">{{ profile.name }}</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <!-- <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Ahmad-Farrel.png"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Ahmad Farrel</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Foto Firgi.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Firgi Sotya</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/hoy.PNG"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">M. Hairullah</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/timur.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">M. Lazuardi Timur</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/ana.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Ana Qonitah</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a> -->
  </div>
</div>
