<div class="py-24">
  <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Satriya-Polinema.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Satriya</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Ahmad-Farrel.png"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Ahmad Farrel</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/Foto Firgi.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Firgi Sotya</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/hoy.PNG"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">M. Hairullah</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/timur.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 flex inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">M. Lazuardi Timur</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>
    <a
      data-aos="fade-up"
      [routerLink]="['/dashboard']"
      class="relative block group drop-shadow-lg"
    >
      <div
        class="relative overflow-hidden bg-no-repeat content-end h-fit bg-cover max-w-xs rounded"
      >
        <img
          src="../../assets/img/ana.jpg"
          alt=""
          class="w-full object-cover transition duration-500 hover:scale-110 h-[450px] rounded"
        />
        <div
          class="absolute h-fit top-64 inset-0 flex flex-col items-start justify-end p-6"
        >
          <h3 class="text-xl font-medium text-white">Ana Qonitah</h3>

          <p class="mt-1.5 max-w-[40ch] text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            sequi dicta impedit aperiam ipsum!
          </p>

          <a
            [routerLink]="['/dashboard']"
            class="transition ease-in-out delay-150 inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black hover:bg-gray-100 hover:text-gray-700 duration-300 rounded"
          >
            Lihat Profil
          </a>
        </div>
      </div>
    </a>

    <!-- <a data-aos="fade-up" href="#" class="relative block group">
      <img
        src="../../assets/img/Satriya-Polinema.jpg"
        alt=""
        class="h-[350px] w-full object-cover transition duration-500 group-hover:opacity-90 h-[450px] rounded"
      />

      <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
        <h3 class="text-xl font-medium text-white">xtalkless</h3>

        <p class="mt-1.5 max-w-[40ch] text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          sequi dicta impedit aperiam ipsum!
        </p>

        <span
          class="inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black"
        >
          Lihat Profil
        </span>
      </div>
    </a>

    <a data-aos="fade-up" href="#" class="relative block group">
      <img
        src="../../assets/img/Foto Firgi.jpg"
        alt=""
        class="h-[350px] w-full object-cover transition duration-500 group-hover:opacity-90 h-[450px] rounded"
      />

      <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
        <h3 class="text-xl font-medium text-white">xtalkless</h3>

        <p class="mt-1.5 max-w-[40ch] text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          sequi dicta impedit aperiam ipsum!
        </p>

        <span
          class="inline-block px-5 py-3 mt-3 text-xs font-medium tracking-wide text-white uppercase bg-black"
        >
          Lihat Profil
        </span>
      </div>
    </a> -->
  </div>
</div>
