<div class="pl-14 lg:pl-52 py-5">
  <div class="w-full flex justify-between pb-5">
    <a
      class="w-fit"
      [routerLink]="['/dashboard/user-status']"
      routerLinkActive="router-link-active"
    >
      <span
        class="mx-2 text-gray-700 flex flex-row dark:text-gray-600 rtl:-scale-x-100 space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 96 960 960"
          width="24"
          fill="gray"
        >
          <path d="M640 976 240 576l400-400 71 71-329 329 329 329-71 71Z" />
        </svg>
        <p>Back</p>
      </span>
    </a>
  </div>

  <div class="mx-5 shadow-lg rounded-md border-1 border">
    <div class="w-full flex justify-between items-center">
      <h2 class="font-semibold font-sans text-xl py-5 px-10">Edit User Data</h2>
    </div>

    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        class="flex lg:w-11/12 w-full sm:flex-row flex-col mx-auto px-4 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end py-4"
      >
        <div class="relative flex-grow w-full">
          <label for="nikInput" class="leading-7 text-sm text-gray-600"
            >Status</label
          >
          <input
            type="text"
            id="statusInput"
            name="statusInput"
            formControlName="statusInput"
            value="{{ user.employeeStatus }}"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="relative flex-grow w-full">
          <label for="nameInput" class="leading-7 text-sm text-gray-600"
            >Salary</label
          >
          <input
            type="text"
            id="salaryInput"
            name="salaryInput"
            formControlName="salaryInput"
            value="{{ user.salary }}"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
      </div>

      <div class="w-full px-10 py-5 flex justify-center">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2 px-5 py-2.5 text-center dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
