<div class="pl-14 lg:pl-52 py-5">
  <div class="w-full flex justify-between pb-5">
    <a
      class="w-fit"
      [routerLink]="['/dashboard/activity']"
      routerLinkActive="router-link-active"
    >
      <span
        class="mx-2 text-gray-700 flex flex-row dark:text-gray-600 rtl:-scale-x-100 space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 96 960 960"
          width="24"
          fill="gray"
        >
          <path d="M640 976 240 576l400-400 71 71-329 329 329 329-71 71Z" />
        </svg>
        <p>Back</p>
      </span>
    </a>
  </div>

  <div class="mx-5 shadow-lg rounded-md border-1 border">
    <div class="w-full flex justify-between items-center">
      <h2 class="font-semibold font-sans text-xl py-5 px-10">
        Add Activity Data
      </h2>
      <!-- <button
        class="text-white w-1/4 h-1/2 bg-blue-700 shadow-md hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm mx-5 px-5 py-2.5 text-center dark:bg-violet-500 dark:hover:bg-purple-600 dark:focus:ring-blue-800"
      >
        Change Password
      </button> -->
    </div>

    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        class="flex lg:w-11/12 w-full sm:flex-row flex-col mx-auto px-4 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-4 items-end py-4"
      >
        <div class="relative flex-grow w-full self-start">
          <label for="nikInput" class="leading-7 text-sm text-gray-600"
            >Intern Participant</label
          >
          <select
            id="nikInput"
            name="nikInput"
            formControlName="nikInput"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          >
            <ng-container *ngFor="let user of users"
              ><option
                *ngIf="this.filterFilledAttendance(user.nik).length == 0"
                value="{{ user.nik }}"
              >
                {{ user.name }}
              </option></ng-container
            >
          </select>
        </div>
        <div class="relative flex-grow w-full">
          <label for="statusInput" class="leading-7 text-sm text-gray-600"
            >Status Attendance</label
          >
          <select
            id="statusInput"
            name="statusInput"
            formControlName="statusInput"
            [(ngModel)]="dayStatus"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            [ngClass]="
              this.f['statusInput'].value == 'off day'
                ? 'bg-red-200 border-red-300'
                : this.f['statusInput'].value == 'work day'
                ? 'bg-green-200 border-green-300'
                : this.f['statusInput'].value == 'leave day'
                ? 'bg-yellow-200 border-yellow-300'
                : this.f['statusInput'].value == 'holiday'
                ? 'bg-gray-300 border-gray-400'
                : ''
            "
          >
            <option *ngFor="let attend of attendanceEnum" value="{{ attend }}">
              {{ attend }}
            </option>
          </select>
          <div class="flex items-center pl-3" *ngIf="dayStatus == 'Attended'">
            <input
              id="horizontal-dayStatus-passport"
              type="checkbox"
              [value]="dayStatus != 'Attended' ? false : ''"
              formControlName="leave"
              [(ngModel)]="leave"
              class="w-4 h-4 rounded-full text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label
              for="horizontal-dayStatus-passport"
              class="w-full py-3 ml-2 text-sm font-medium text-gray-900"
              >Leaving
            </label>
          </div>
        </div>
      </div>
      <div class="px-20" *ngIf="leave && dayStatus == 'Attended'">
        <div class="flex items-center justify-between gap-2">
          <div class="w-full">
            <label
              for="timeOut"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Time Out</label
            >
            <input
              type="time"
              id="timeOut"
              formControlName="timeOut"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="John"
              required
            />
          </div>
          <div class="w-full">
            <label
              for="message"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Description</label
            >
            <textarea
              id="message"
              rows="4"
              formControlName="description"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Description..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="w-full px-10 py-5 flex justify-center">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2 px-5 py-2.5 text-center dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
